<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>About</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by {{name}} with ❤</p>
  </div>
  {{>footer}}
</body>

</html>